$font: 'PTSansRegular', Arial, Helvetica, sans-serif;
$display-font: 'Montserrat', 'PTSansRegular', Arial, Helvetica, sans-serif;
$font-weight: 400;
$strong-font-weight: 700;

$black: #333;
$white: #fff;
$grey: #555;

$brand-color: #2b3c90;
$secondary-color: #02c8a4;
$tertiary-color: #ef5b34;

$bg-color: $white;
$font-color: $black;

$box-border: 1px solid $grey;
$button-border: 2px solid $secondary-color;
$border-radius: 25px;
