/**
* Elements
**/

/* images */
img {
  #children & { width: 100%; }
  &.aligncenter {
    @media only screen and (min-width : $sm-med-width)  {
      display: block; margin: 0 auto;
    }
  }
  &.alignright {
    @media only screen and (min-width : $sm-med-width)  {
      float: right; margin: 12px 0 12px 24px;
    }
  }
  &.alignleft {
    @media only screen and (min-width : $sm-med-width)  {
      float: left; margin: 12px 24px 12px 0;
    }
  }
}

/* lists */
li {
  list-style-type: none;
  #connect &, #contact &, #nav & { display: inline; margin-right:  $gutter * 0.5; margin-left: $gutter * 0.5; }
  #nav &  { padding: 3px 0; }
  #children & { text-align: center; }
  #connect & { margin: $icon-link-margin; }
  #footer &.menu-item-has-children, #footer &.menu-item-108 {
    font-weight: $strong-weight;
    li { font-weight: $font-weight; }
  }
  #footer .sub-menu &::before, #footer &.cat-item::before { content: '- '; }
}

ol li {
  #page-body &, #page-body-lower &, #page-intro & {
    list-style-type: decimal;
   }
}

ul li {
  #page-body &, #page-body-lower &, #page-intro &, .offset-body &, .article-body & {
    list-style-type: square;
    color: $accent-soft;
    font-size: 120%;
    .no-js &, span {
      color: $body-color;
      font-size: $default-font-size;
    }
  }
}

ul, ol, dl {
  article & {
    text-align: left;
    padding-left: $gutter*0.5; margin-left: $gutter; margin-right: $gutter;
    display: inline-block;
    @media only screen and (min-width : $sm-med-width)  {
      display: block;
    }
    li { text-align: left; }
  }
  #page-body &, #page-body-lower &, #page-intro & {
    margin-bottom: $vertical-spacing;
    li { list-style-position: outside; }
  }
}

dt p, dd p { margin: 0; }


/* form elements */
textarea, input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    height: $baseline+4;
    box-sizing: border-box;
    width: 100%; padding: 0 1%;
    box-shadow: none!important;
    text-indent: 3px;
    #footer & { border: none!important; }
    #searchform & { display: inline-block; max-width: 400px; margin-right: $gutter; }
}
textarea {
  display: block;
  height: $baseline * 5;
  border-color: $body-color;
  box-sizing: border-box;
  width: 100%; padding: 0 1%;
}
input[type='submit'], input[type='button'] {
  @extend .button;
  &#searchsubmit { display: inline-block; }
}

/* figures */
blockquote {
  #page-header & {
    color: $accent-soft-darken;
    font-family: $display-font;
    font-size: 140%;
    line-height: 1.4em;
  }
  #page-body & {
    padding: $vertical-spacing $gutter*2;
    @media only screen and (min-width : $sm-med-width)  {
      padding-left: $gutter*3;
    }
    border-top: 2px solid $accent-soft;
    display: inline-block;
    clear: left; clear:right;
    font-family: $display-font; font-style:italic; font-weight: $display-weight;
    &:before{
      content:'“';
      font-family: $display-font;
      font-style:$em-style;
      font-weight: $display-weight;
      font-size: 64px;
      position: absolute;
      top: 30px; left: 0; width: 100%;
      @media only screen and (min-width : $sm-med-width)  {
        font-size: 80px;
        color:$accent-soft;
      }
    }
  }
  figure & { display: block; }
}

figure {
  position: relative; display: inline-block;
  margin-bottom: $baseline;
  figcaption {
    &:before,  &:after  { content: ' — '; }
    #page-body & {
      position: relative;
      bottom: 25px;
      @media only screen and (min-width : 768px)  {
        position: absolute;
        right: 0; bottom:5px;
        &:after { content: ''; }
      }
    }
    font-size: $small-size;
  }
}

/* articles */
article {
  #page & {
    @extend %text-center;
    margin-bottom: $vertical-spacing;
    border-bottom: $article-border;
    &:last-child, .page-template-page-classes & { border-bottom: none;}
    &.col-content { display: block; }
    .blog &, .archive & {
      margin-top: $vertical-spacing * 0.8;
      padding-bottom:0;
      #children & { padding-bottom: $vertical-spacing * 1.7; }
    }
    .page-template-page-with-sidebar & {
      border-bottom: none;
      padding-bottom: 0;
    }
    .single & {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .center { text-align: center;}
  }
  #page .mb-offset-4 & .center { text-align: left; }

  #page #children & {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

hr { 	border-top: 1px solid $accent-soft;
 margin: $baseline 0; }
