$default-font-size: 16px;
$baseline:26px;
$gutter: 15px;
$gutter-adj: $gutter - 2;
$vertical-spacing: $baseline;
$paragraph-margin: $baseline / 2 0;
$bar-height: 33px;
$bar-padding-top: 3px;
$bar-padding-bottom: 8px;
$bar-padding: $bar-padding-top 0 $bar-padding-bottom;
$bar-height-total: $bar-height + $bar-padding-top + $bar-padding-bottom;


$body-color: #351f22;
$accent-high: #b13094;
$accent-soft: #c5dbe8;
$accent-soft-darken: #5a8dab;
$accent-alt: #c9850d;
$grey: #666;
$white: #fff;
$twitter-blue: #55acee;

$box-shadow: 0 0 1px #bbb;
$icon-link-padding: 12px $gutter * 0.5;
$icon-link-margin: 0 2px;
$article-border: 1px solid $accent-soft;

$body-font: 'Lato', 'sans-serif';
$display-font: 'Playfair Display', serif;
$font-weight: 300;
$display-weight: 400;
$strong-weight: 400;
$strong-display-weight: 900;
$em-style: italic;

$background-color: #fff;
$background-color-alt: $body-color;

$img-link-opacity: 0.9;

$max-line-length: 730px;

$small-size: 80%;

$xs-width: 400px;
$sm-width: 600px;

$sm-med-width: 768px;
$med-width: 960px;

$lrg-width: 1040px;
$max-width: 1200px;
$ultra-width: 1300px;
