@charset "UTF-8";
/*
BlankSlate WordPress Theme © 2011-2014 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

.clear {
  clear: both; }

/* mixins */
.mb-row, #wrapper, #header, #mb-banner, #footer {
  overflow: hidden;
  width: 100%; }

.container#page, #footer .container {
  max-width: 1200px;
  margin: 0 auto; }

body {
  background-color: #fff;
  color: #351f22; }

#nav {
  background-color: #351f22;
  color: #c5dbe8; }

#divide {
  background-color: #c5dbe8;
  color: #351f22; }

#page article, .article {
  text-align: center; }
  @media only screen and (min-width: 600px) {
    #page article, .article {
      text-align: left; } }

a h2, a h3, a h4, a h5, a h6, #footer a, .meta a {
  padding-bottom: 0.2px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #fff;
  display: inline-block;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -ms-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  transition: border-color 0.5s; }

a:hover h2, a:active h2, a:hover h3, a:active h3, a:hover h4, a:active h4, a:hover h5, a:active h5, a:hover h6, a:active h6, .meta a:hover, .meta a:active {
  border-color: #b13094; }

#footer a:hover, #footer a:active {
  border-color: #351f22; }

.mb-col-1 .col-content, .mb-col-2 .col-content, .mb-col-3 .col-content, .mb-col-4 .col-content, .mb-col-5 .col-content, .mb-col-6 .col-content, .mb-col-7 .col-content, .mb-col-8 .col-content, .mb-col-9 .col-content, .mb-col-10 .col-content, .mb-col-11 .col-content, .mb-col-12 .col-content {
  margin-left: 15px;
  margin-right: 15px; }

/**
* GENERIC LAYOUT CLASSES
**/
.left {
  float: left; }

.right {
  float: right; }

.center {
  text-align: center; }

.large-left, .large-right {
  text-align: center; }

.small-hide {
  display: none; }

.clear-right {
  clear: right; }

.mb-col-1, .mb-col-2, .mb-col-3, .mb-col-4, .mb-col-5, .mb-col-6, .mb-col-7, .mb-col-8, .mb-col-9, .mb-col-10, .mb-col-11, .mb-col-12 {
  float: left;
  overflow: hidden;
  width: 100%; }
  .mb-col-1 .col-content, .mb-col-2 .col-content, .mb-col-3 .col-content, .mb-col-4 .col-content, .mb-col-5 .col-content, .mb-col-6 .col-content, .mb-col-7 .col-content, .mb-col-8 .col-content, .mb-col-9 .col-content, .mb-col-10 .col-content, .mb-col-11 .col-content, .mb-col-12 .col-content {
    position: relative;
    width: auto !important;
    display: inline-block; }
    .mb-col-1 .col-content img, .mb-col-2 .col-content img, .mb-col-3 .col-content img, .mb-col-4 .col-content img, .mb-col-5 .col-content img, .mb-col-6 .col-content img, .mb-col-7 .col-content img, .mb-col-8 .col-content img, .mb-col-9 .col-content img, .mb-col-10 .col-content img, .mb-col-11 .col-content img, .mb-col-12 .col-content img {
      max-width: 100%;
      height: auto; }
    .mb-col-1 .col-content.right, .mb-col-2 .col-content.right, .mb-col-3 .col-content.right, .mb-col-4 .col-content.right, .mb-col-5 .col-content.right, .mb-col-6 .col-content.right, .mb-col-7 .col-content.right, .mb-col-8 .col-content.right, .mb-col-9 .col-content.right, .mb-col-10 .col-content.right, .mb-col-11 .col-content.right, .mb-col-12 .col-content.right {
      float: right; }
    .mb-col-1 .col-content.center, .mb-col-2 .col-content.center, .mb-col-3 .col-content.center, .mb-col-4 .col-content.center, .mb-col-5 .col-content.center, .mb-col-6 .col-content.center, .mb-col-7 .col-content.center, .mb-col-8 .col-content.center, .mb-col-9 .col-content.center, .mb-col-10 .col-content.center, .mb-col-11 .col-content.center, .mb-col-12 .col-content.center {
      display: block; }
  .mb-col-1.right, .mb-col-2.right, .mb-col-3.right, .mb-col-4.right, .mb-col-5.right, .mb-col-6.right, .mb-col-7.right, .mb-col-8.right, .mb-col-9.right, .mb-col-10.right, .mb-col-11.right, .mb-col-12.right {
    float: right; }

/**
* CONTAINERS
**/
body {
  width: 100%;
  height: 100%; }

#wrapper {
  position: relative;
  z-index: 1; }

/**
* Responsive widths
**/
@media screen and (min-width: 400px) {
  .mb-col-1, .mb-col-2 {
    width: 50%;
    /* behaves like .mb-col-6 */ } }
/* ipad portrait  */
@media screen and (min-width: 768px) {
  .mb-col-1, .mb-col-2 {
    width: 25%;
    /* behaves like .mb-col-3 */ }

  .mb-col-3, .mb-col-4 {
    width: 33.33333%;
    /* behaves like .mb-col-4 */ }
    .mb-col-3.large-right, .mb-col-4.large-right {
      float: right; }

  .mb-col-5, .mb-col-6, .mb-col-7 {
    width: 50%; }
    .mb-col-5.large-right, .mb-col-6.large-right, .mb-col-7.large-right {
      float: right; }

  .mb-col-8, .mb-col-9, .mb-col-10, .mb-col-11 {
    width: 66.66667%;
    /* behaves like .mb-col-8 */ }
    .mb-col-8.large-right, .mb-col-9.large-right, .mb-col-10.large-right, .mb-col-11.large-right {
      float: right; }

  .mb-offset-4 .mb-col-8 {
    width: 100%; }
  .mb-offset-4.large-right {
    float: right; }

  .mb-offset-2 .mb-col-8 {
    width: 100%; }
  .mb-offset-2.large-right {
    float: right; }

  .mb-offset-1 .mb-col-5 {
    width: 50%; }
  .mb-offset-1.large-right {
    float: right; }

  .large-left, .large-right {
    text-align: left; }

  .col-content.large-right {
    text-align: right;
    display: block; } }
@media screen and (min-width: 960px) {
  .mb-col-1 {
    width: 8.33333%; }

  .mb-col-2 {
    width: 16.66667%; }

  .mb-col-3 {
    width: 25%; }

  .mb-col-5 {
    width: 41.66667%; }

  .mb-col-7 {
    width: 58.33333%; }

  .mb-col-9 {
    width: 75%; }

  .mb-col-10 {
    width: 83.33333%; }

  .mb-col-11 {
    width: 91.66667%; }

  .small-hide {
    display: block; } }
@media screen and (min-width: 1040px) {
  .mb-offset-1 {
    padding-left: 8.33333%;
    overflow: hidden;
    width: 100%;
    position: relative; }
    .mb-offset-1 .mb-col-10 {
      width: 83.33333%; }

  .mb-offset-2, .mb-offset-4 {
    padding-left: 8.33333%;
    overflow: hidden;
    width: 100%;
    position: relative; }
    .mb-offset-2 .mb-col-8, .mb-offset-4 .mb-col-8 {
      width: 83.33333%; } }
@media screen and (min-width: 1200px) {
  .mb-offset-2 {
    padding-left: 16.66667%;
    overflow: hidden;
    width: 100%;
    position: relative; }
    .mb-offset-2 .mb-col-8 {
      width: 66.66667%; }

  .mb-offset-4 {
    padding-left: 33.33333%;
    overflow: hidden;
    width: 100%;
    position: relative; }
    .mb-offset-4 .mb-col-8 {
      width: 66.66667%; }

  .mb-offset-1-right {
    padding-right: 8.33333%;
    overflow: hidden;
    width: 100%;
    position: relative;
    right: 8.33333%; }

  .mb-offset-2-right {
    padding-right: 16.66667%;
    overflow: hidden;
    width: 100%;
    position: relative;
    right: 16.66667%; }

  .mb-offset-4-right {
    padding-right: 16.66667%;
    overflow: hidden;
    width: 100%;
    position: relative;
    right: 16.66667%; } }
/* @media only screen and (max-width : 767px)  { /* up to ipad */
/* @media only screen and (max-width : 959px)  { /* up to and including ipad */
/* @media only screen and (min-width : 768px) { /* including ipad and wider */
/* @media only screen and (min-width : 960px) { /* wider than ipad */
p {
  margin: 13px 0; }

h1 {
  font-size: 220%;
  line-height: 130%;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 13px 0;
  color: #b13094;
  padding-left: 5px; }

h2, h3, h4, h5, h6 {
  margin: 13px 0; }
  a h2, a h3, a h4, a h5, a h6 {
    padding-bottom: 1px; }

h2 {
  font-size: 120%; }
  a h2 {
    text-transform: uppercase; }

h3 {
  font-size: 120%; }

h4 {
  font-size: 110%;
  margin-bottom: 3px; }

h5 {
  font-weight: 400; }

h6 {
  font-family: "Playfair Display", serif;
  font-weight: 400; }
  #bottom h6 {
    font-size: 80%;
    margin-bottom: 0; }

p em {
  font-style: italic; }
p em strong {
  color: #b13094;
  font-weight: 300; }
p strong em {
  color: #b13094;
  font-style: normal; }
h2 em {
  font-style: normal;
  color: #c9850d; }
h3 em {
  font-style: normal;
  color: #b13094; }
h4 em {
  font-style: normal;
  color: #5a8dab; }
h5 em {
  font-style: normal;
  color: #b13094; }
h6 em {
  font-style: normal; }

strong {
  font-weight: 400; }
  h5 strong {
    font-style: italic; }

small {
  font-size: 80%; }

quote {
  color: #5a8dab; }

a {
  text-decoration: none;
  color: #c9850d;
  /*#branding &, #connect & { color: $body-color; }*/ }
  .article-header a, .article-footer a, #cat-menu a, .entry-footer a, #children a h2, a:hover, a a:active {
    color: #b13094; }
  h2 a, #nav a {
    text-transform: uppercase; }
  #nav a {
    color: #fff;
    padding: 0.5px 3px;
    display: inline-block;
    letter-spacing: 0.03em; }
    #nav a .fa {
      color: #c5dbe8; }
  #children a {
    text-decoration: none; }
  #footer a {
    color: #351f22; }
  #footer a:hover, #footer a:active {
    color: #351f22; }
  a .fa, a.fa {
    border: none !important; }
  a .teaser, a .article-meta {
    color: #351f22; }
  a .more .icon {
    fill: #c9850d; }
  a:hover .more .icon, a:active .more .icon {
    fill: #b13094; }

/**
* Elements
**/
/* images */
#children img {
  width: 100%; }
@media only screen and (min-width: 768px) {
  img.aligncenter {
    display: block;
    margin: 0 auto; } }
@media only screen and (min-width: 768px) {
  img.alignright {
    float: right;
    margin: 12px 0 12px 24px; } }
@media only screen and (min-width: 768px) {
  img.alignleft {
    float: left;
    margin: 12px 24px 12px 0; } }

/* lists */
li {
  list-style-type: none; }
  #connect li, #contact li, #nav li {
    display: inline;
    margin-right: 7.5px;
    margin-left: 7.5px; }
  #nav li {
    padding: 3px 0; }
  #children li {
    text-align: center; }
  #connect li {
    margin: 0 2px; }
  #footer li.menu-item-has-children, #footer li.menu-item-108 {
    font-weight: 400; }
    #footer li.menu-item-has-children li, #footer li.menu-item-108 li {
      font-weight: 300; }
  #footer .sub-menu li::before, #footer li.cat-item::before {
    content: '- '; }

#page-body ol li, #page-body-lower ol li, #page-intro ol li {
  list-style-type: decimal; }

#page-body ul li, #page-body-lower ul li, #page-intro ul li, .offset-body ul li, .article-body ul li {
  list-style-type: square;
  color: #c5dbe8;
  font-size: 120%; }
  .no-js #page-body ul li, #page-body ul li span, .no-js #page-body-lower ul li, #page-body-lower ul li span, .no-js #page-intro ul li, #page-intro ul li span, .no-js .offset-body ul li, .offset-body ul li span, .no-js .article-body ul li, .article-body ul li span {
    color: #351f22;
    font-size: 16px; }

article ul, article ol, article dl {
  text-align: left;
  padding-left: 7.5px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block; }
  @media only screen and (min-width: 768px) {
    article ul, article ol, article dl {
      display: block; } }
  article ul li, article ol li, article dl li {
    text-align: left; }
#page-body ul, #page-body-lower ul, #page-intro ul, #page-body ol, #page-body-lower ol, #page-intro ol, #page-body dl, #page-body-lower dl, #page-intro dl {
  margin-bottom: 26px; }
  #page-body ul li, #page-body-lower ul li, #page-intro ul li, #page-body ol li, #page-body-lower ol li, #page-intro ol li, #page-body dl li, #page-body-lower dl li, #page-intro dl li {
    list-style-position: outside; }

dt p, dd p {
  margin: 0; }

/* form elements */
textarea, input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0; }

input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
  height: 30px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1%;
  box-shadow: none !important;
  text-indent: 3px; }
  #footer input[type="text"], #footer input[type="email"], #footer input[type="password"], #footer input[type="tel"] {
    border: none !important; }
  #searchform input[type="text"], #searchform input[type="email"], #searchform input[type="password"], #searchform input[type="tel"] {
    display: inline-block;
    max-width: 400px;
    margin-right: 15px; }

textarea {
  display: block;
  height: 130px;
  border-color: #351f22;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1%; }

input[type='submit']#searchsubmit, input[type='button']#searchsubmit {
  display: inline-block; }

/* figures */
#page-header blockquote {
  color: #5a8dab;
  font-family: "Playfair Display", serif;
  font-size: 140%;
  line-height: 1.4em; }
#page-body blockquote {
  padding: 26px 30px;
  border-top: 2px solid #c5dbe8;
  display: inline-block;
  clear: left;
  clear: right;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400; }
  @media only screen and (min-width: 768px) {
    #page-body blockquote {
      padding-left: 45px; } }
  #page-body blockquote:before {
    content: '“';
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 64px;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      #page-body blockquote:before {
        font-size: 80px;
        color: #c5dbe8; } }
figure blockquote {
  display: block; }

figure {
  position: relative;
  display: inline-block;
  margin-bottom: 26px; }
  figure figcaption {
    font-size: 80%; }
    figure figcaption:before, figure figcaption:after {
      content: ' — '; }
    #page-body figure figcaption {
      position: relative;
      bottom: 25px; }
      @media only screen and (min-width: 768px) {
        #page-body figure figcaption {
          position: absolute;
          right: 0;
          bottom: 5px; }
          #page-body figure figcaption:after {
            content: ''; } }

/* articles */
#page article {
  margin-bottom: 26px;
  border-bottom: 1px solid #c5dbe8; }
  #page article:last-child, .page-template-page-classes #page article {
    border-bottom: none; }
  #page article.col-content {
    display: block; }
  .blog #page article, .archive #page article {
    margin-top: 20.8px;
    padding-bottom: 0; }
    #children .blog #page article, #children .archive #page article {
      padding-bottom: 44.2px; }
  .page-template-page-with-sidebar #page article {
    border-bottom: none;
    padding-bottom: 0; }
  .single #page article {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0; }
  #page article .center {
    text-align: center; }
#page .mb-offset-4 article .center {
  text-align: left; }
#page #children article {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none; }

hr {
  border-top: 1px solid #c5dbe8;
  margin: 26px 0; }

body {
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  font-size: 16px;
  line-height: 26px; }

/*
* unique containers
*/
/* header */
#header {
  font-size: 90%;
  position: relative;
  min-height: 44px; }
  @media screen and (min-width: 400px) {
    #header {
      font-size: 112%; } }
  #header.banner {
    height: 244px; }
    #header.banner #mb-banner {
      height: 200px; }
    #header.banner .gradient {
      width: 0; }
    @media screen and (min-width: 400px) {
      #header.banner {
        height: 310.66667px; }
        #header.banner #mb-banner {
          height: 266.66667px; } }
    @media screen and (min-width: 600px) {
      #header.banner {
        height: 444px; }
        #header.banner #mb-banner {
          height: 400px; } }
    @media screen and (min-width: 768px) {
      #header.banner {
        height: 556px; }
        #header.banner #mb-banner {
          height: 512px; } }
    @media screen and (min-width: 960px) {
      #header.banner {
        height: 684px; }
        #header.banner #mb-banner {
          height: 640px; } }
    @media screen and (min-width: 800px) {
      #header.banner {
        height: 444px; }
        #header.banner #mb-banner {
          height: 400px; }
          #header.banner #mb-banner img, #header.banner #mb-banner .gradient {
            width: 400px; } }
    @media screen and (min-width: 1040px) {
      #header.banner {
        height: 564px; }
        #header.banner #mb-banner {
          height: 520px; }
          #header.banner #mb-banner img, #header.banner #mb-banner .gradient {
            width: 520px; } }
    @media screen and (min-width: 1200px) {
      #header.banner {
        height: 644px; }
        #header.banner #mb-banner {
          height: 600px; }
          #header.banner #mb-banner img, #header.banner #mb-banner .gradient {
            width: 600px; } }
    @media screen and (min-width: 1600px) {
      #header.banner {
        height: 844px; }
        #header.banner #mb-banner {
          height: 800px; }
          #header.banner #mb-banner img, #header.banner #mb-banner .gradient {
            width: 800px; } }
  @media screen and (min-width: 800px) {
    .page-template-home-page #header.banner {
      height: 577.33333px; }
      .page-template-home-page #header.banner #mb-banner {
        height: 533.33333px; }
        .page-template-home-page #header.banner #mb-banner img {
          width: 100%; }
        .page-template-home-page #header.banner #mb-banner .gradient {
          width: 0; } }
  @media screen and (min-width: 1040px) {
    .page-template-home-page #header.banner {
      height: 737.33333px; }
      .page-template-home-page #header.banner #mb-banner {
        height: 693.33333px; }
        .page-template-home-page #header.banner #mb-banner img {
          width: 100%; }
        .page-template-home-page #header.banner #mb-banner .gradient {
          width: 0; } }
  @media screen and (min-width: 1200px) {
    .page-template-home-page #header.banner {
      height: 844px; }
      .page-template-home-page #header.banner #mb-banner {
        height: 800px; }
        .page-template-home-page #header.banner #mb-banner .gradient {
          width: 1200px; } }
  @media screen and (min-width: 1600px) {
    .page-template-home-page #header.banner #mb-banner .gradient {
      width: 1200px; } }

/*#branding, #connect {
  position: fixed; top:0;
  .admin-bar & { top: 32px; }
}
#branding {
  //margin-top: 6.5px; margin-bottom: 6.5px; left:0;
}*/
#branding {
  display: none; }

#connect {
  position: absolute;
  right: 15px;
  top: 3px; }
  #connect li::before {
    content: "" !important; }
  #connect a {
    padding: 12px 7.5px; }

#nav {
  padding: 3px 0 8px;
  height: 33px;
  font-size: 85%;
  z-index: 1000;
  box-shadow: 0 0 1px #bbb; }
  .postid-216 #nav {
    display: none; }
  #nav ul {
    max-width: 410px;
    margin: 0 auto; }
  #nav li::before {
    content: '.';
    color: inherit;
    position: relative;
    left: -7.5px;
    top: -4px;
    font-size: 200%; }
  #nav li:nth-child(1)::before {
    content: ''; }
  #nav li#menu-item-377 i {
    position: relative;
    top: 1px;
    left: 3px; }
  #nav li#menu-item-377 span:nth-child(2) {
    display: none; }
    #nav li#menu-item-377 span:nth-child(2) i {
      top: -1px; }
  .no-js #nav li#menu-item-377 {
    display: none; }
  .banner #nav {
    position: absolute;
    bottom: 0;
    left: 0; }
  .sticky #nav {
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0; }
    .admin-bar .sticky #nav {
      top: 32px; }
  #nav.expanded li#menu-item-377 span:nth-child(1), .no-js #nav li#menu-item-377 span:nth-child(1) {
    display: none; }
  #nav.expanded li#menu-item-377 span:nth-child(2), .no-js #nav li#menu-item-377 span:nth-child(2) {
    display: inline-block; }
  @media only screen and (max-width: 649px) {
    #nav.expanded, .no-js #nav {
      height: 62.7px; }
      #nav.expanded ul, .no-js #nav ul {
        max-width: 405px; } }
  @media only screen and (max-width: 649px) {
    #nav li:nth-child(5)::before {
      content: ''; } }
  @media only screen and (min-width: 400px) {
    #nav {
      font-size: 90%; } }
  @media only screen and (min-width: 650px) {
    #nav ul {
      max-width: 999px; }
    #nav li#menu-item-377 {
      display: none; } }
  @media screen and (min-width: 960px) and (max-width: 1200px) {
    #nav ul.center {
      text-align: left;
      max-width: 100%;
      margin-left: 15px; } }
  @media only screen and (min-width: 1040px) {
    #nav {
      font-size: 100%; } }

#mb-banner {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  text-align: right;
  max-height: 800px;
  /* text on homepage */ }
  #mb-banner h1, #mb-banner h2 {
    display: none; }
  .admin-bar #mb-banner {
    top: 32px; }
  #mb-banner #mb-frame {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0; }
    #mb-banner #mb-frame .gradient {
      height: 100%;
      float: right;
      background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 60%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 60%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 60%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
      /* IE6 */ }
  #mb-banner img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    max-width: 800px; }
    .page-template-home-page #mb-banner img {
      max-width: 1200px; }
  .page-template-home-page #mb-banner h1, .page-template-home-page #mb-banner h2 {
    display: block;
    font-size: 150%;
    position: absolute;
    top: 5%;
    left: 5%; }
  .page-template-home-page #mb-banner h2 {
    padding-top: 31.2px;
    padding-left: 5px;
    font-size: 100%;
    text-transform: none; }
  .page-template-home-page #mb-banner h1 {
    font-style: italic; }
  @media only screen and (min-width: 600px) {
    .page-template-home-page #mb-banner h1 {
      font-size: 170%; }
    .page-template-home-page #mb-banner h2 {
      padding-top: 39px;
      font-size: 120%; } }
  @media only screen and (min-width: 768px) {
    .page-template-home-page #mb-banner h1, .page-template-home-page #mb-banner h2 {
      left: 10%;
      top: 10%;
      font-size: 200%; }
    .page-template-home-page #mb-banner h2 {
      padding-top: 52px;
      font-size: 150%; } }
  @media only screen and (min-width: 960px) {
    .page-template-home-page #mb-banner h1 {
      font-size: 300%; }
    .page-template-home-page #mb-banner h2 {
      font-size: 220%;
      padding-top: 91px; } }

#divide {
  height: 2px;
  z-index: 100;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%; }

/* body */
#wrapper {
  background-color: #fff; }

#page {
  padding-top: 26px;
  padding-bottom: 26px;
  overflow: hidden; }
  .page-template-page-with-sidebar #page {
    position: relative; }

.center #page-header {
  text-align: center;
  display: block !important; }
.blog #page-header {
  margin-bottom: 26px; }
#page-header .page-title {
  position: relative;
  top: 12px; }
@media only screen and (min-width: 768px) {
  #page-header {
    margin-top: 26px; } }

.page-template-home-page #page-body, .page-template-home-page #page-intro {
  margin-top: 0;
  padding-top: 0; }
@media only screen and (min-width: 768px) {
  #page-body, #page-intro {
    padding-top: 13px; } }

#page-body-lower .col-content {
  display: block; }

#children {
  clear: left; }
  #children ul {
    max-width: 500px;
    margin: 0 auto; }
    @media only screen and (min-width: 600px) {
      #children ul {
        max-width: 10000px; } }
  #children li {
    position: relative;
    margin-bottom: 13px; }
  @media only screen and (min-width: 768px) {
    #children li {
      margin-bottom: 26px;
      padding-bottom: 26px; } }

#cat-menu {
  display: none; }
  @media only screen and (min-width: 600px) {
    #cat-menu {
      display: block;
      text-align: center; }
      #cat-menu i {
        display: none; }
      #cat-menu li {
        display: inline-block; }
        #cat-menu li:after {
          content: ', '; }
        #cat-menu li:last-child:after {
          content: ''; } }

/*
* Classes
*/
.button, input[type='submit'], input[type='button'] {
  display: inline-block;
  padding: 0 4px;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  background: none;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #c5dbe8;
  border-radius: 2px;
  -webkit-transition: background-color 0.3;
  -moz-transition: background-color 0.3;
  -ms-transition: background-color 0.3;
  -o-transition: background-color 0.3;
  transition: background-color 0.3; }
  .button:hover, input[type='submit']:hover, input[type='button']:hover, .button:active, input[type='submit']:active, input[type='button']:active {
    background: #fff;
    background-color: white; }
  #footer .button, #footer input[type='submit'], #footer input[type='button'] {
    display: block; }
  .button.cta, input.cta[type='submit'], input.cta[type='button'] {
    padding: 0 36px 0 15px;
    /* has the fancy arrow svg */
    font-family: "Playfair Display", serif; }

.bigger {
  font-size: 105%; }

.offset-body img {
  display: block;
  margin: 0 auto; }
@media only screen and (min-width: 960px) {
  .offset-body article {
    overflow: hidden; }
  .offset-body #page-body {
    width: 66.66667%;
    float: right; }
  .offset-body aside {
    position: absolute;
    top: 156px;
    left: 0;
    width: 25%; }
    .offset-body aside img {
      margin-bottom: 26px; }
    .offset-body aside article {
      clear: both; } }

#mb-side-banner {
  margin: 26px 0; }
  #mb-side-banner img {
    width: 100%;
    height: auto; }

/* features / boxy links */
#children .teaser {
  display: block; }

.more {
  display: inline-block;
  position: relative;
  padding-right: 24px; }

.more .icon {
  width: 19px;
  position: absolute;
  top: 8px;
  right: 0; }
  @media screen and (max-width: 767px) {
    .more .icon {
      top: 11px; } }
.button .icon, input[type='submit'] .icon, input[type='button'] .icon {
  fill: #c9850d;
  width: 19px;
  position: absolute;
  top: 15px;
  right: 10px; }
.button:hover .icon, input[type='submit']:hover .icon, input[type='button']:hover .icon, .button:active .icon, input[type='submit']:active .icon, input[type='button']:active .icon {
  fill: #fff; }

.img-container {
  overflow: hidden;
  box-shadow: 0 0 1px #bbb; }
  #children .img-container {
    height: 300px; }
    @media screen and (min-width: 400px) {
      #children .img-container {
        height: 370px; } }
    @media screen and (min-width: 500px) {
      #children .img-container {
        height: 470px; } }
    @media screen and (min-width: 768px) {
      #children .img-container {
        height: 226px;
        box-shadow: none; } }
    @media screen and (min-width: 960px) {
      #children .img-container {
        height: 290px; } }
    @media screen and (min-width: 1040px) {
      #children .img-container {
        height: 316.66667px;
        margin-bottom: 13px; } }
    @media screen and (min-width: 1200px) {
      #children .img-container {
        height: 370px; } }

#children .text-container {
  width: 100%; }
  #children .text-container a {
    margin-left: 30px;
    margin-right: 30px; }
  #children .text-container .article-meta {
    display: block;
    margin-top: 0;
    position: relative;
    top: -6px; }
  @media only screen and (max-width: 767px) {
    #children .text-container {
      font-size: 126%;
      line-height: 1.35em;
      position: absolute;
      bottom: 0;
      padding: 13px 0;
      background-color: rgba(255, 255, 255, 0.9); }
      #children .text-container .article-meta, #children .text-container .more {
        font-size: 16px;
        height: 26px;
        line-height: 26px; }
      #children .text-container a .teaser {
        margin: 0 15px; } }

/* toggle */
.toggle-container {
  padding-left: 10px;
  height: 42px;
  overflow: hidden; }
  .toggle-container .fa, .toggle-container .list-title, .toggle-container ul, .toggle-container ol {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .toggle-container .fa {
    position: absolute;
    color: #666; }
  .toggle-container .mb-times {
    top: 18px;
    left: -8px; }
  .toggle-container .fa-bars {
    left: -13px;
    top: 13px;
    padding: 4px;
    opacity: 0.7;
    border-radius: 2px;
    box-shadow: 0 0 1px #bbb; }
    .toggle-container .fa-bars:hover {
      opacity: 1; }
  .toggle-container.open, .no-js .toggle-container {
    height: auto; }
    .toggle-container.open .fa-bars, .no-js .toggle-container .fa-bars {
      opacity: 0; }
    .toggle-container.open .fa-times, .toggle-container.open .mb-times, .toggle-container.open .list-title, .toggle-container.open ul, .toggle-container.open ol, .no-js .toggle-container .fa-times, .no-js .toggle-container .mb-times, .no-js .toggle-container .list-title, .no-js .toggle-container ul, .no-js .toggle-container ol {
      opacity: 1; }
  .no-js .toggle-container .fa {
    display: none !important; }
  .js .toggle-container .toggle {
    cursor: pointer; }

/* articles */
.article-header a, .entry-footer {
  display: block; }

.article-footer {
  font-size: 80%; }

.entry-footer {
  position: relative; }

.postid-216 .entry-footer {
  display: none !important; }

.article-meta, .cat-links {
  margin-top: 26px;
  font-family: "Playfair Display", serif; }
  .article-meta:after, .cat-links:after {
    content: ': '; }
  .center .article-meta:before, .center .article-meta:after, .article-meta.center:before, .article-meta.center:after, .center .cat-links:before, .center .cat-links:after, .cat-links.center:before, .cat-links.center:after {
    content: ' — '; }

.cat-links {
  display: block; }

.article-body {
  margin-top: 26px;
  margin-bottom: 26px; }
  .article-body p {
    display: inline; }

.single .center .cats {
  display: block; }

/* lists */
#nav li .sub-menu {
  display: none;
  position: absolute; }

#footer {
  position: relative;
  margin-top: 26px;
  padding: 26px 0;
  /* #contact */
  /* #social-feeds */
  /* #contact */
  /* #media Qs */ }
  #footer .container {
    border-top: 2px solid #351f22;
    padding-top: 26px; }
  #footer .mb-col-6, #footer .mb-col-4 {
    float: none; }
  #footer .col-content {
    display: block;
    text-align: center; }
  #footer .mb-col-2 .col-content {
    font-size: 95%;
    text-align: left;
    padding-bottom: 6px; }
  #footer h6 span {
    color: #b13094; }
    #footer h6 span:before, #footer h6 span:after {
      content: ' — '; }
  #footer #bottom, #footer #mailchimp, #footer #contact, #footer #instagram {
    margin-top: 13px; }
  #footer #contact {
    margin-bottom: 13px; }
    #footer #contact .col-content {
      border-style: solid;
      border-width: 1px;
      border-color: #fff;
      padding: 0; }
    #footer #contact ul {
      position: relative;
      left: -7.5px; }
    #footer #contact a.fa {
      font-size: 26px;
      position: relative;
      top: -8px;
      -webkit-transition: all 1s 0.2s;
      -moz-transition: all 1s 0.2s;
      -ms-transition: all 1s 0.2s;
      -o-transition: all 1s 0.2s;
      transition: all 1s 0.2s; }
    #footer #contact p {
      margin: 3px 0 23px; }
    #footer #contact.lowlight .col-content {
      border: 1px solid #351f22; }
    #footer #contact.highlight .col-content {
      display: block;
      padding: 5px 15px 15px;
      border-width: 3px;
      border-color: #b13094;
      -webkit-transition: border-color 1s 0.2s;
      -moz-transition: border-color 1s 0.2s;
      -ms-transition: border-color 1s 0.2s;
      -o-transition: border-color 1s 0.2s;
      transition: border-color 1s 0.2s; }
    #footer #contact.highlight .fa {
      color: #351f22; }
  #footer #social-feeds {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
    /* #instagram-widget */
    /* #twitter-widget */ }
    #footer #social-feeds h6 {
      display: none; }
    #footer #social-feeds #twitter-widget, #footer #social-feeds #facebook-widget, #footer #social-feeds #instagram-widget {
      width: 270px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 13px; }
    #footer #social-feeds #instagram-widget {
      position: relative;
      height: 270px; }
      #footer #social-feeds #instagram-widget li {
        position: relative;
        width: 131px;
        height: 131px;
        float: left; }
        #footer #social-feeds #instagram-widget li:nth-child(even) {
          margin: 0 8px 8px 0; }
        #footer #social-feeds #instagram-widget li .fa {
          font-size: 66px;
          color: #fff;
          opacity: 0.1;
          position: absolute;
          top: 35px;
          left: 38px; }
        #footer #social-feeds #instagram-widget li a {
          border: none; }
          #footer #social-feeds #instagram-widget li a:hover .fa {
            opacity: 0.8; }
      #footer #social-feeds #instagram-widget #instagram-badge {
        display: none;
        border: none;
        position: absolute;
        bottom: -12px;
        left: 0; }
    #footer #social-feeds #twitter-widget {
      padding: 8px 0;
      text-align: left;
      background: rgba(255, 255, 255, 0.3);
      font-size: 80%; }
      #footer #social-feeds #twitter-widget header {
        height: 50px; }
        #footer #social-feeds #twitter-widget header i {
          font-size: 44px;
          margin: 0 8px;
          color: #55acee;
          opacity: 0.6; }
        #footer #social-feeds #twitter-widget header a {
          vertical-align: top; }
        #footer #social-feeds #twitter-widget header .username {
          font-size: 18px;
          font-weight: 400; }
      #footer #social-feeds #twitter-widget #twitter-feed {
        position: absolute;
        top: 0;
        left: -3000px; }
      #footer #social-feeds #twitter-widget #follow-link {
        margin: 8px 8px 0;
        border-color: #c5dbe8 !important; }
      #footer #social-feeds #twitter-widget #twitter-feed-container {
        overflow: hidden;
        padding: 0 8px;
        line-height: 23.4px; }
        #footer #social-feeds #twitter-widget #twitter-feed-container ol {
          padding: 0 4px; }
          #footer #social-feeds #twitter-widget #twitter-feed-container ol .timeline-Tweet-text:before {
            content: '“';
            font-family: "Playfair Display", serif;
            font-weight: 400;
            font-size: 300%;
            vertical-align: middle;
            margin-right: 6px;
            color: #55acee;
            opacity: 0.6; }
          #footer #social-feeds #twitter-widget #twitter-feed-container ol .TweetAuthor, #footer #social-feeds #twitter-widget #twitter-feed-container ol .TwitterCardsGrid, #footer #social-feeds #twitter-widget #twitter-feed-container ol .timeline-ShareMenu-container, #footer #social-feeds #twitter-widget #twitter-feed-container ol .timeline-Tweet-actions, #footer #social-feeds #twitter-widget #twitter-feed-container ol .MediaCard div div {
            display: none; }
          #footer #social-feeds #twitter-widget #twitter-feed-container ol .timeline-Tweet-metadata a, #footer #social-feeds #twitter-widget #twitter-feed-container ol .MediaCard a {
            font-size: 80%;
            position: relative;
            top: -6px; }
  #footer #bottom {
    padding-top: 13px; }
  @media only screen and (min-width: 600px) {
    #footer #social-feeds #twitter-widget {
      margin: 0 0 26px;
      float: right; }
    #footer #social-feeds #facebook-widget {
      margin: 0 0 26px;
      float: left; }
    #footer #social-feeds #instagram-widget {
      margin-top: 26px;
      clear: both;
      width: 100%;
      height: 133px; }
      #footer #social-feeds #instagram-widget li {
        width: 136px;
        height: 136px;
        margin: 0 4px !important; }
        #footer #social-feeds #instagram-widget li:first-child {
          margin-left: 0 !important; }
        #footer #social-feeds #instagram-widget li:last-child {
          margin-right: 0 !important; } }
  @media only screen and (min-width: 768px) {
    #footer #mailchimp, #footer #contact {
      width: 600px;
      margin-left: auto;
      margin-right: auto; }
    #footer #social-feeds {
      width: 600px; }
      #footer #social-feeds #twitter-widget, #footer #social-feeds #facebook-widget {
        margin-top: 13px; } }
  @media only screen and (min-width: 960px) {
    #footer .mb-col-4 h6 span:before, #footer .mb-col-6 h6 span:before {
      content: ''; }
    #footer #social-feeds {
      margin-left: 0;
      margin-right: 0;
      float: left; }
      #footer #social-feeds h6 {
        display: block; }
      #footer #social-feeds .col-content {
        text-align: left; }
      #footer #social-feeds #twitter-widget, #footer #social-feeds #facebook-widget {
        margin-top: 0; }
    #footer #mailchimp.mb-col-4, #footer #contact.mb-col-4 {
      float: right;
      width: 33.33333%; }
      #footer #mailchimp.mb-col-4 .col-content, #footer #contact.mb-col-4 .col-content {
        text-align: left; } }

/* #mailchimp */
#mailchimp, .mailchimp {
  padding-bottom: 13px; }
  #mailchimp input, .mailchimp input {
    margin-top: 2px; }
  #mailchimp input[type="email"], #mailchimp input[type="text"], #mailchimp input[type="submit"], .mailchimp input[type="email"], .mailchimp input[type="text"], .mailchimp input[type="submit"] {
    border: 1px solid #c5dbe8 !important; }
  #mailchimp label, .mailchimp label {
    font-size: 80%; }
  #mailchimp .col-content, .mailchimp .col-content {
    display: block; }
  #mailchimp form, .mailchimp form {
    max-width: 570px;
    margin: 0 auto;
    position: relative; }
  #mailchimp .mc-field-group, .mailchimp .mc-field-group {
    text-align: left;
    width: 33%;
    margin-right: 2%;
    float: left; }
    #mailchimp .mc-field-group:nth-child(3), .mailchimp .mc-field-group:nth-child(3) {
      width: 53%; }
  #mailchimp .button, #mailchimp input[type='submit'], #mailchimp input[type='button'], .mailchimp .button, .mailchimp input[type='submit'], .mailchimp input[type='button'] {
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 10%;
    padding: 0;
    font-size: 100%; }

.mailchimp form {
  margin-left: 0; }

/*# sourceMappingURL=main.css.map */
