@import url(https://fonts.googleapis.com/css?family=Quicksand:300,500);

$font: 'Quicksand', sans-serif;
$font-weight: 500;
$display-font-weight: 300;

$brand-color: #ff5722;
$black: #2c2c2c;
$white: #fff;
$grey: #f7f7f7;

$bg-color: $white;
$font-color: $black;
$default-color: #B6B9BF;
$valid-color: #45d89d;
$invalid-color: $brand-color;

$gradient: linear-gradient(to right, #3ccaa4 0%, #45d89d 100%);
