/* mixins */
@mixin fluid-width($cols) {
    width: percentage(1/12*$cols);
}

@mixin fluid-offset($cols) {
    padding-left: percentage(1/12*$cols);
    overflow:hidden;
    width: 100%;
    position: relative;
}

@mixin fluid-offset-right($cols) {
    padding-right: percentage(1/12*$cols);
    overflow:hidden;
    width: 100%;
    position: relative;
    right: percentage(1/12*$cols);
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin border-box {
    box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -ms-box-sizing: border-box;
}