.practitioner {
    margin-top: $baseline;
    .col-content { 
        border-top: 1px solid $accent-mid;
        padding-top: $baseline;
    }  
}
.person {
    .attachment-post-thumbnail {
        margin-right: $gutter * 2;
        margin-bottom: $gutter * 2;
        float: left;
        width: 25%; height: auto;
        position:relative; top: 6px; left: 6px;
    }
}
.single-sm_class .person {
    .attachment-post-thumbnail {
        top: 18px;
        margin-bottom: $gutter * 2.5   
    }
}

.tax-public_class_teacher, .single-sm_class {
    .class-price {  
        .description { font-style: $em-style; }
        color: $accent-mid; 
    }
    .class-location { font-style: $em-style; }
}

#breadcrumbs { display: none; }

#container {
    @extend .nested-content;
    padding-bottom: $vertical-spacing; 
    overflow:hidden; // clears for floated elements
    
    #content { overflow:hidden; position:relative; }
    
    #content.splash {
        .attachment-post-thumbnail { display:none; }
        .entry-header { 
            max-width: auto; 
            text-align: center; margin: $vertical-spacing 0; 
        }
    }
    
    aside.grid-container { 
        overflow: hidden;    
        margin-top: $vertical-spacing;
        h2 { 
            @extend h3;
            border-bottom: 2px solid $accent-mid; padding-bottom: 9px; max-width:500px; 
            position:relative; top: 9px;
        }
    }
    
    article, .product { 
        padding-bottom: $vertical-spacing; 
        .header { margin-left:0; margin-right:0; }
        img { margin-top: 3px; margin-bottom: 3px;  }
        img.alignleft  { margin-right: $gutter; }
        img.alignright  { margin-left: $gutter; }
        form { text-align:left!important; }
    }
    article {
        section { 
            overflow:hidden; 
            background-color:$background-color-rgba; 
            padding-top: $vertical-spacing / 2;
        }
    }   
    
    /* entry-header * */
    .entry-header { 
        margin: $vertical-spacing auto $vertical-spacing / 2;
        overflow:hidden; @extend .nested-content;
        text-align: center; font-size: 6vw; 
        text-shadow: 0 0 10px $white;
        .post-edit-link, #page-menu { 
            font-size:$default-font;
        }
        #page-menu { 
            display:none;
        }   
    }
    /* sub-header */
    #sub-header {
        margin: $vertical-spacing auto $vertical-spacing; 
        font-size: 4vw; text-align: center;
        position:relative; top: 12px;
        p, h2 {
            margin-left: auto;
            margin-right: auto;
        }
        h2 { 
            position:relative; top: -1 * $baseline; 
            text-shadow: 0 0 10px $white;
        }
    }
    /* entry-extra */
    .entry-extra { margin-top: $vertical-spacing; }
}

#footer {
    padding-bottom: $vertical-spacing; padding-top: 12px;
    border-top: $body-color 3px solid; z-index:3;
    background: $background-color;
    background-color:$background-color-rgba;
    overflow: hidden;
    #sscy_lotus { 
        width: 50px; margin: 0; max-height: 50px;
        rect, path { fill: $body-color; }
        ellipse { fill: $background-color; }
    }
    #sscy_logo { 
        width: $logo_width; margin: 9px 2px 0; max-height: 50px;
        path { fill: $body-color; }
    }
    #footer-branding {
        a { text-decoration:none; }
        a:hover, a:active {
            #sscy_lotus, #sscy_logo { 
                rect, path { fill: $accent-mid; } 
            } 
        }
    }
    #footer-branding {  min-height: $vertical-spacing * 2; }
    ul { margin-top: 10px; margin-bottom: 10px;  }
    #footer-links { 
        .menu-item-258, .menu-item-262, .menu-item-303, .menu-item-320 { font-weight: $strong-weight; }
        .menu-item-262, .menu-item-303, .menu-item-320 { margin-top: $baseline * 0.5; }
        margin-bottom: $vertical-spacing;
    }
    #copyright { padding: $vertical-spacing 0; }
}