.range-slider-container {
  width: 100%;
  height: 48px;
  position: relative;

  md-slider .md-focus-ring,
  md-slider .md-thumb:after,
  md-slider.md-min .md-thumb:after,
  md-slider.md-default-theme .md-focus-ring,
  md-slider.md-default-theme .md-thumb:after {
    border-color: $blue_500;
    background-color: $blue_500;
  }
}

.range-slider-left {
  top: 16px;
  left: 0px;
  width: 100%;
  position: absolute;

  md-slider {
    min-width: 0px;

    .md-thumb-container {
      z-index: 10;
    }

    .md-track {
      background-color: $blue_500;

      &.md-track-fill {
        background-color: $grey_200;
      }
    }
  }
}

.range-slider-right {
  top: 16px;
  right: 0px;
  width: 100%;
  position: absolute;

  md-slider {
    min-width: 0px;

    .md-thumb-container {
      transition: transform 0s linear;
    }

    .md-track-container {
      .md-track {
        background-color: $grey_200;

        &.md-track-fill {
          background-color: $blue_500;
        }
      }
    }
  }
}
.slider-indicator {
  width: 105px;
  height: 55px;
  padding: 26px 0 7px 15px;
  border-bottom: 1px solid $grey_200;
}

md-slider {
  padding-top: 12px;
}
