<div class="range-slider-container">
  <div class="range-slider-left">
    <md-slider
      aria-label="searchSlider.lower"

      min="{{searchSlider.min}}"
      max="{{searchSlider.lowerMax}}"

      ng-model="searchSlider.lower"
      ng-change="searchSlider.update('lower')">
    </md-slider>
  </div>
  <div class="range-slider-right" ng-style="{width: searchSlider.upperWidth}">
    <md-slider
      aria-label="searchSlider.upper"

      max="{{searchSlider.max}}"
      min="{{searchSlider.upperMin}}"

      ng-model="searchSlider.upper"
      ng-change="searchSlider.update('upper')">
    </md-slider>
  </div>
</div>
