body {
	font-size: $fontSize;
	font-family: $fontFamily;
	line-height: $lineHeight;
	font-weight: $normalWeight;
}

h1 {
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-weight: $heavyWeight;
	strong { font-weight: $heavyWeight; }
}
h2 {
	line-height: 1.4em;
	font-weight: $strongWeight;
	strong { font-weight: $heavyWeight; }
}
h4 {
	letter-spacing: 0.3px;
	line-height: $fontSize+4;
	text-transform: uppercase;
	.fancy & { font-weight: $strongWeight; }
}

p, a, li, h4 {
	font-size: 0.86em;
	a, li, strong, span, em {
		font-size: inherit;
	}
}
@media screen and (min-width: $breakSmall) {
	h1 { font-size: 1.26em; }
	h2 { font-size: 1.14em; }
	p, a, li, h4 { font-size: 0.92em; }
}
@media screen and (min-width: $breakMed) {
	h1 { font-size: 1.44em; }
	h2 { font-size: 1.26em; }
	h3 { font-size: 1.14em; }
	p, a, li, h4 { font-size: 1em; }
	.navMenu a, a.cta { font-size: 1.14em; }
}
@media screen and (min-width: $breakLarge) {
	h1 { font-size: 1.88em; }
	h2 { font-size: 1.44em; line-height: 1.6em; }
	h3 { font-size: 1.26em; }
	body { line-height: 1.66em; }
}

a {
	color: inherit;
	font-style: italic;
	text-decoration: none;
	.navMenu &, &.cta {
		font-style: normal;
		padding: 0.4em 0.6em;
		letter-spacing: 0.5px;
		text-transform: uppercase;
	}
	&#login {
		font-size: 90%;
		line-height: 32px;
		border: 1px solid;
		font-style: normal;
		text-align: center;
		text-transform: uppercase;
		small { text-transform: none; }
	}
	.articleList & { font-size: 0.9em; }
	&.cta {
		border: 1px solid;
		font-weight: $heavyWeight;
	}
	.socialLinks & {
		font-size: 1.8em;
		.fa { font-size: 90%;}
	}
	.contactInfo &, .nav-menu & {
		font-style: normal;
		font-weight: $strongWeight;
	}
	#footerBar .navMenu & {
		padding:0;
		font-size: 0.8em;
		text-transform: none;
	}
}
small {
	font-size: 0.8em;
	&.contactInfo {
		line-height: 1.6em;
	}
	&.hidden { opacity: 0; }
}
strong {
	font-weight: $strongWeight;
	#footer & {
		font-weight: $heavyWeight;
	}
}

.specialHeading {
	width: 360px;
	height: 1em;
	max-width: 90%;
	margin: 24px auto;
	line-height: 100%;
	position: relative;
	@media screen and (min-width: $breakLarge) {
		margin: 44px auto;
	}
	&:before {
		left: 0;
		top: 50%;
		z-index: 1;
		width: 100%;
		height: 1px;
		content: ' ';
		position: absolute;
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,168,167,1) 45%, rgba(0,168,167,1) 55%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(0,168,167,1) 45%,rgba(0,168,167,1) 55%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(0,168,167,1) 45%,rgba(0,168,167,1) 55%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

	}
	span {
		z-index: 2;
		position: relative;
		padding-left: 0.6em;
		padding-right: 0.6em;
		background: $white;
		display: inline-block;

	}
}
