.ff-minitext {
    width: 80px;
    padding-top: 11px;
  }

.ff-table {
  md-list-item, .ff-table-h {
    padding-left: 30px !important;
  }
}

.bar-outer {
  height: 10px;
  margin: 6px 0;
  background-color: $grey_200;
  .bar-inner {
    height: 100%;
    transition: width 0.5s;
    background-color: $pink_200;
  }
}

.ff-user-status {

  a {
    color: $grey_300;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $grey_400;
    }
  }
}

.ff-anchors {
  color: $black;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.ff-sub-details {
  height: 210px;

  .ff-circlewrap {
    margin: 25px 30px 0 0;
  }
}
