<md-dialog aria-label="Activity" class="ff-popup ff-regdialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 flex>Invite alumni to new activity</h2>
      <md-button
        aria-label="Close"
        class="md-icon-button"
        ng-click="inviteToNewActivityModal.cancel()">
        <i class="material-icons">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content flex>
    <div flex>
      <div layout="row">
        <div flex="1" class="md-padding">
          <md-input-container class="md-block">
            <label>Activity name*</label>
            <input ng-model="thing">
          </md-input-container>
        </div>
        <div flex="1" class="md-padding">
          <md-input-container class="md-block" flex>
            <label>Type of activity*</label>
            <md-select ng-model="thong">
              <md-option value="1">Activity 1</md-option>
              <md-option value="2">Activity 2</md-option>
              <md-option value="3">Activity 3</md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
      <div layout="row" flex>
        <div flex="1" class="md-padding">
          <div><label class="md-caption">Date*</label></div>
          <md-datepicker ng-model="theng"></md-datepicker>
        </div>
        <div flex="1" class="md-padding">
          <md-input-container class="md-block">
            <label>Staff contact</label>
            <input ng-model="thung">
          </md-input-container>
        </div>
      </div>
      <div layout="row" flex>
        <div flex="100" class="md-padding">
          <md-input-container class="md-block">
            <label>Other notes</label>
            <textarea ng-model="thiing" rows="5"></textarea>
          </md-input-container>
        </div>
        <div flex="1"></div>
      </div>
    </div>
    <div layout="row" layout-align="end center">
      <md-button
        ng-click="inviteToExistingActivityModal.invite()">
        Invite
      </md-button>
    </div>
  </md-dialog-content>
</md-dialog>
