<md-dialog aria-label="Activity" class="ff-popup ff-regdialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 flex>Invite alumni to existing activity</h2>
      <md-button
        aria-label="Close"
        class="md-icon-button"
        ng-click="inviteToExistingActivityModal.cancel()">
        <i class="material-icons">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content flex>
    <div flex>
      <p>Select the existing activity from the dropdown below and press invite.</p>
      <md-select ng-model="inviteToExistingActivityModal.activities.ongoing">
        <md-option value="1">Activity 1</md-option>
        <md-option value="2">Activity 2</md-option>
      </md-select>
    </div>
    <div layout="row" layout-align="end center">
      <md-button
        ng-click="inviteToExistingActivityModal.invite()">
        Invite
      </md-button>
    </div>
  </md-dialog-content>
</md-dialog>
